<!--template>
    <canvas id="myChart"></canvas>
</template-->

<script>
// import Chart from 'chart.js';

// export default {
//     mounted() {
//         var data = {
//             labels: ["January", "February", "March", "April", "May", "June", "July"],
//             datasets: [
//                 {
//                     label: "2015",
//                     fillColor: "rgba(220,220,220,0.2)",
//                     strokeColor: "rgba(220,220,220,1)",
//                     pointColor: "rgba(220,220,220,1)",
//                     pointStrokeColor: "#fff",
//                     pointHighlightFill: "fff",
//                     pointHighlightStroke: "rgba(220,220,220,1)",
//                     data: [65, 59, 80, 81, 56, 55, 40]
//                 }
//             ]
//         };

//         var context = document.getElementById('myChart').getContext('2d');

//         var myLineChart = new Chart(context, {
//             type: 'line',
//             data: data,
//             options: {
//                 title: {
//                     display: true,
//                     text: 'Test Chart'
//                 }
//             }
//         });
//     }
// }
</script>